<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shared/base(title=${'On Hover Menu'})}" data-sidenav-size="on-hover-active">

<th:block layout:fragment="styles">

</th:block>

<th:block layout:fragment="content">
<!-- Begin page -->
<div class="wrapper">
<th:block th:replace="~{shared/partials/topbar :: topbar}"></th:block> <th:block th:replace="~{shared/partials/sidenav :: sidenav}"></th:block>
<!-- ============================================================== -->
<!-- Start Main Content -->
<!-- ============================================================== -->
<div class="content-page">
<div class="container-fluid">
<th:block th:replace="~{shared/partials/page-title :: page-title(subtitle='Layouts', title='On Hover Active')}"></th:block>
<div class="row">
<div class="col-12">
<div class="alert alert-warning alert-bordered border-start border-warning d-flex align-items-start gap-2">
<i class="ti ti-info-circle fs-xxl"></i>
<div>
                                    To enable the full menu on hover after minimizing the sidebar, add
                                    <code>data-sidenav-size="on-hover-active"</code>
                                    to the
                                    <code>&lt;html&gt;</code>
                                    tag in your layout.
                                </div>
</div>
</div>
</div>
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-body text-center">
<h4 class="m-0">Your custom content here</h4>
</div>
<!-- end card-body-->
</div>
<!-- end card-->
</div>
<!-- end col-->
</div>
<!-- end row-->
</div>
<!-- container -->
<th:block th:replace="~{shared/partials/footer :: footer}"></th:block>
</div>
<!-- ============================================================== -->
<!-- End of Main Content -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->
<th:block th:replace="~{shared/partials/customizer :: customizer}"></th:block> <th:block th:replace="~{shared/partials/footer-scripts :: footer-scripts}"></th:block>
</th:block>

<th:block layout:fragment="scripts">

</th:block>

</html>
